.top-nav {
    /* position: fixed; */
    background: #000;
    padding: 12px 80px;
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.nav-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-icon:hover {
    color: inherit;
}
.house-icon {
    background-image: url("../../assets/icons/favicon/favicon_green.png");
    width: 30px;
    height: 30px;
    transform: scaleX(1.05);
}
.house-icon:hover,
.house-icon.current:hover {
    background-image: url("../../assets/icons/favicon/favicon_orange_white_text.png") !important;
    width: 30px;
    height: 30px;
    /* transform: scale(1.2); */
}
.house-icon.current {
    /* background-image: url("../../assets/icons/favicon/favicon_orange_white_text.png"); */
    width: 30px;
    height: 30px;
} 
.top-nav a {
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
.top-nav a:hover {
    color: #ffb300;
    /* transform: scaleX(1.05); */
}
.top-nav a.current {
    color: #FFB300;
}
.top-nav .links {
    display: flex;
    align-items: center;
    gap: 25px;
}



@media (max-width: 768px) {
    /* Prevent horizontal scroll everywhere */
    html, body {
        overflow-x: hidden;
    }
    /* TOP NAV */
    .top-nav {
        padding-left: 8px;
        padding-right: 8px;
    }
    .top-nav .nav-content {
        padding: 0 12px;
    }
    .top-nav .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .top-nav .links a {
        font-size: 14px;
        padding: 6px 8px;
        white-space: nowrap;
    }
}