.page-wrapper {
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 768px) {
    .page-wrapper {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 0;
        margin-right: 0;
    }
}