/* FAQ */
.faq-container {
    width: 100%;
    border-radius: 25px;
    text-align: start;
    align-items: center;
    margin-bottom: 50px;
}
.faq-box h2{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-top: 250px;
    color: #004000;
}
.faq-box strong {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #004000;
}
.faq-box p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #004000;
}